 <!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>TSearch1802</title>
<link rel="stylesheet" href="https://SupaDupa1802.github.io/S2/SupaDupa1802.css">
<script type="text/javascript" src="https://SupaDupa1802.github.io/S2/Collapsible.js"></script>  

<script>
 <!--
function Show_a1(){onAr = ["a100","a1"];ChangeShow(onAr);}
function Show_a2(){onAr = ["a100","a2"];ChangeShow(onAr);}
function Show_b1(){onAr = ["b100","b1"];ChangeShow(onAr);}
function Show_b2(){onAr = ["b100","b2"];ChangeShow(onAr);}
function Show_All_a(){onAr = ["a100","a1","a2"];ChangeShow(onAr);}
function Show_All_b(){onAr = ["b100","b1","b2"];ChangeShow(onAr);}
-->
</script>


</head>
<body>
<table align="center">
<tr><td colspan="2"><h2 align="center">TSearch1802 Template</h2></td></tr>
<tr><td class="cContent">

<span class="cButton" onclick="DoShow()">Show All</span>
<span class="cButton" onclick="DoHide()">Hide All</span>
<p>Click on buttons to show contents<br />
<span  class="cButton" onclick="Show_a1()">a1</span> 
<span  class="cButton" onclick="Show_a2()">a2</span> 
<span  class="cButton" onclick="Show_b1()">b1</span> 
<span  class="cButton" onclick="Show_b2()">b2</span> 
<span  class="cButton" onclick="Show_All_a()">a group</span> 
<span  class="cButton" onclick="Show_All_b()">b group</span> 
</td>
</td><td class="cContent" ><img src="http://SupaDupa1802.github.io/SupaDupa1802Logo.png" width="200px"></td>
<!--</td><td><img src="http://SupaDupa999.github.io/SupaDupa999Logo.png" width="200px"></td>-->
</tr></table>



<div align="center"><table><tr><td align="left" class="cContent">

  <span  class="cLabel" title="click me" onclick="expandDiv(this,'a100')">a100</span>
  <div   class="cContent" id="a100" style="display:block">
 
  <!-- <span  class="cButton" onclick="Show_a1()">Show a1</span>   button showing defined panels Moved to menu bar-->
  <span  class="cLabel" title="click me" onclick="expandDiv(this,'a1')">a1</span>
  <div   class="cContent" id="a1" style="display:none">
  This is a1
  </div><br />

  <!-- span  class="cButton" onclick="Show_a2()">Show a2</span>    button showing defined panels Moved to menu bar-->
  <span  class="cLabel" title="click me" onclick="expandDiv(this,'a2')">a2</span>
  <div   class="cContent" id="a2" style="display:none">
  This is a2
  </div><!--<br />-->

</div><br />



<span  class="cLabel" title="click me" onclick="expandDiv(this,'b100')">b100</span>
<div   class="cContent" id="b100" style="display:block">

  <!-- <span  class="cButton" onclick="Show_b1()">Show b1</span>   button showing defined panels Moved to menu bar-->
  <span  class="cLabel" title="click me" onclick="expandDiv(this,'b1')">b1</span>
  <div   class="cContent" id="b1" style="display:none">
  This is b1
  </div><br />

  <!-- span  class="cButton" onclick="Show_b2()">Show a2</span>   button showing defined panels Moved to menu bar-->
  <span  class="cLabel" title="click me" onclick="expandDiv(this,'b2')">b2</span>
  <div   class="cContent" id="b2" style="display:none">
  This is b2
  </div><!--<br />-->

</div><br />

</td></tr></table></div>
</body>
</html>
